<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    <script src="../static/jquery-2.2.0.min.js"></script>
    <title>Main Page</title>
</head>
<body>

<div class="content-wrapper">
    {% block content %}{% endblock %}</div>
<script src="../static/index.js"></script>
<h3>Welcome to the Animal</br> Game</h3>
<p>The Animal Game learns from its</br>
    mistakes! If I cannot guess the animal</br>
    you are thinking of, you can teach</br>
    the game how to guess your animal.</p>

<button id="playNow">Play Now</button>
</body>
</html>
