<!DOCTYPE html>
<html>
<head>
    <script src="../static/jquery-2.2.0.min.js"></script>
    <script src="../static/long.min.js"></script>
    <script src="../static/bytebuffer.min.js"></script>
    <script src="../static/protobuf.min.js"></script>

    <title>COEN 498 Animal Guessing game</title>
    <link rel="stylesheet" type="text/css" href="../static/css/country_guess.css" />
</head>
<body>
    <script src="../static/index.js"></script>
    <div id="wrapper">
        <div id="headerwrap">
        <div id="header">
            <h1 id="headertext">Welcome to the Country guessing game</h1>
        </div>
        </div>
    <div id="questionwrap">
        <div id="question">
            <p class="editText" id="questionField">Think about a country in the Americas</p>
        </div>
        <div id="startButton">
            <button id="start" type="button">Start Game!</button>
        </div>
        <div id="jsonButtons" style="display:none">
            <button id="yesButton" type="button" >Yes!</button>
            <button id="noButton" type="button" >No!</button>
        </div>
        <div id="protobufButtons" style="display:none">
            <button id="yesproto" type="button" >ProtoYES!</button>
            <button id="noproto" type="button" >ProtoNO!</button>
        </div>
            <button id="toggleButton" type="button" style="display:none">Use Protocol Buffers</button>
        </div>
    </div>
</body>
</html>
