#guesswhoPic {
    display:block;
    width: 400px;
    height: 150px;
    padding-left: 10cm;
}

#guesswhoTitle{
    padding-left: 12cm;
}

#buttonLocation{
    display: block;
    float:right;
}

#displayMe{
    float: left;
    margin-left: 12cm;
}

#yesButton{
    float:left;
    clear:both;
}
#noButton {
    float:left;
    clear:both;
}


body {
    font-size:20px;
}
