#guesswhoPic {
    display:block;
    width: 400px;
    height: 150px;
    padding-left: 10cm;
}

#guesswhoTitle{
    padding-left: 12cm;
}

#buttonLocation{
    display: block;
    float:right;
}

#displayMe{
    float: left;
    margin-left: 11cm;
}

#yesButton{
    float:left;
    clear:both;
    margin-right: 10cm;
}
#noButton {
    float:left;
    clear:both;
    margin-right: 10cm;
}

#startGame{
    float:left;
    clear:both;
    margin-right: 10cm;
}

#guessButton{
    float:left;
    clear:both;
    margin-right: 10cm;
}

body {
    font-size:20px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "JSON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "PROTO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
/**/
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}