<div>
    <div class="home jumbotron centered">
        <h1>Welcome to your shelved homepage!</h1>
        <form [ngFormModel]="ibsnForm" (submit)="submitIBSN($event)">
            <div class="form-group">
                <label for="ibsn">IBSN</label>
                <input ngControl="ibsnNumber" type="ibsnNumber" placeholder="Enter your IBSN #">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
        <p><a class="btn btn-primary btn-lg" role="button" (click)="viewLibrary()">View Library</a></p>
        <!--         <h2 *ngIf="response">The response of calling the <span class="red">{{api}}</span> API is:</h2>
        <h3 *ngIf="response">{{response}}</h3> -->
    </div>
</div>
