#homepage_title {
    font-size: 23px;
    text-align:center;
}

#upcNumber_input {
    width: 200px;
}

#logOut_button{
    text-align:right;
    display:inline;
}

#viewLib_button{
    text-align:left;
    display:inline;
}
#homepage_buttons{
    display:inline;
    width: 70%;     /* specify a width! */
    margin: 0 auto; /* center */
}