.button {
    background-color: #008CBA; /* Blue */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    float: right;
    border: 1px solid black;
}