<!DOCTYPE html>
<html>
<head>
    {#		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>#}
    <script src="../static/jquery-2.2.0.min.js"></script>
    <!--<script src="../static/long.min.js"></script>-->
    <!--<script src="../static/bytebuffer.min.js"></script>-->
    <!--<script src="../static/protobuf.min.js"></script>-->
    <!--<script src="../static/proto.js"></script>-->
    <title>Animal Game</title>
</head>
<body>

<script src="../static/index.js"></script>
{% load staticfiles %}

<h3>Think of an animal...</h3>

<div id="userInteraction">
    <div id="displayMe">
        <p id="contentHolder"></p>
    </div>

    <div id="buttonLocation">
        <button id="startButton" type="button" >START</button>
    </div>
</div>



</body>
</html>